@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

img {
  width: 100%;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 180px 1fr;
}

.header {
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: 60px 1fr;
  padding: 16px 25px;
  box-shadow: 0px 7px 8px 0px rgb(160, 160, 160);
}

.header-top {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.header-top .search-input-container {
  display: flex;
  align-items: center;
}

.header-top input {
  margin-left: 10px;
  width: 70%;
  border: none;
  background-color: #e2e8f0;
  padding: 6px 4px;
  border-radius: 10px;
}

.header-top ul.profile-icons {
  display: grid;
  grid-template-columns: 1fr 40px 2fr;
  font-size: 0.8rem;
  font-weight: 500;
  align-items: center;
  gap: 8px;
  text-align: center;
}

.header-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.header-bottom .account-container {
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0 8px;
}

.header-bottom .account-container img {
}

.header-bottom .account-container .account-name {
  font-weight: 600;
}

.header-bottom ul {
  display: flex;
  justify-content: end;
  gap: 16px;
}

.header-bottom ul button {
  border: none;
  background-color: #1992d4;
  color: white;
  border-radius: 20px;
  padding: 8px 24px;
}

.header-bottom .account-container img {
  grid-row: 1 / 3;
}

.side-bar {
  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: min-content 1fr 1fr;
  gap: 60px;
  padding: 16px;
  background-color: #1992d4;
  color: white;
}

.side-bar ul {
  display: grid;
  grid-template-rows: repeat(auto-fill, 40px);
}

.logo,
.side-bar ul li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.side-bar .logo {
  font-size: 1.5rem;
  font-weight: 500;
}

.main {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-template-rows: 30px 1fr 30px 1fr;
  padding: 1rem;
  gap: 0 1rem;
  background-color: #e2e8f0;
}

.projects-title,
.announcements-title,
.trending-title {
  font-weight: 600;
}

.card {
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 4px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.projects-container {
  grid-column: 1/2;
  grid-row: 2/5;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
}

.projects-container .project-card {
  border-left: 5px solid #f0b429;
  position: relative;
}

.project-card .project-name {
  font-weight: 600;
}

.project-card .project-desc {
  opacity: 0.8;
}

.project-card .card-icons {
  margin-left: auto;
  margin-top: auto;
}

.project-card .card-icons .svg-container {
  margin-right: 14px;
}

.announcements-container {
  margin-bottom: 1rem;
}

.announcements-container .announcement {
  border-bottom: 1px solid #e2e8f0;
  padding-bottom: 8px;
  flex: 1;
}

.announcements-container .announcement:last-child {
  border-bottom: none;
}

.announcements-container .announcement .title {
  font-weight: 600;
  margin-bottom: 4px;
}

.announcements-container .announcement .desc {
  font-size: 0.8rem;
  opacity: 0.8;
}

.trending-container .trending-project {
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0 8px;
  flex: 1;
}

.trending-container .trending-project .project {
  font-size: 0.9rem;
  opacity: 0.9;
}

.trending-container .trending-project img {
  grid-row: 1/3;
}
